/* sets colors for entire page, use h1/h2/div/p or inline to change others*/
body
{
    background-color:#ffffff;
    color:#595959
}

 /* font sizes by heading as per pt system*/
body
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

html, body, .container {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1
{
    font-size: 200%;
}

h2
{
    font-size: 150%;
}

h3
{
    font-size: 112.5%;
}

h4
{
  font-size: 175%;
}

/*text alignment*/

h3
{
    text-align:left
}

h2 {
    text-align: center;
}
p
{
    text-align: justify;
}

.centerp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
       max-width: 50ch;

}
footer{
    text-align: center;
}

header{
    text-align: justify;
}


.limit{
	margin: 1.5em 1.5em 0.5em;
	width: 90%;
	max-width: 65%;
}

.limitshort{
	margin: 1.5em 1.5em 0.5em;
	width: 90%;
	max-width: 45ch;
}

.limitlong{
	margin: 1.5em 1.5em 0.5em;
	width: 90%;
	max-width: 100ch;
}

.limitc{
  	vertical-align: middle;
	justify-content: center;
	margin: 1.5em 1.5em 0.5em;
	width: 90%;
	max-width: 80ch;
}

.limitbig{
  justify-content: center;
	margin: 1.5em 1.5em 0.5em;
	width: 90%;
	max-width: 80ch;
  font-size: 18px
}

.tab { margin-left: 40px; }

.headlimit{
    margin: 0.5em 0.5em 0.25em;
    width: 90%;
}


 .tab { margin-left: 40px; }

 .tablimit {
    margin-left: 1.5em 2em 0.5em;
    width: 90%;

 }


/*link styles*/
a:link {
    color:#blue;
    text-decoration: none;
}
a:visited {
    color:#purple;
}
a:active{
    color:black;
}
a:hover{
    color:black;
}

/*columns*/
.container {
    overflow-x: hidden;

  }

  .frontpage {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    margin: 0 -16px;
  }

  .fp-cell {
    padding: 16px;
  }

  .fp-cell--1 {
    grid-row: 1 / span 2;
  }

  .fp-cell--2 {
    grid-row: 2 / span 2;
  }

  .fp-cell--3 {
    grid-column: 2;
  }

  .fp-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    height: 100%;
  }

/*working with images*/
img {
    max-width: 100%;
    height: auto;
  } /* applies to all img, maintains aspect ratio while keeping on page*/

.cv {
    width: 25%;
    height: auto;
    text-align:center;
    display:block;
  } /*custom cv class resizes image based on screen size!*/
